# ML - second homework (Titanic dataset)

In [2]:
import pandas as pd
import numpy as np

In [3]:
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
train = pd.read_csv('data/shelter/train_titanic.csv')
test = pd.read_csv('data/shelter/test_titanic.csv')
sample_submission = pd.read_csv('data/shelter/sample_submission.csv')
gender_submission = pd.read_csv('data/shelter/gender_submission.csv')

In [5]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [7]:
train.shape

(891, 12)

In [8]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [10]:
test.shape

(418, 11)

In [11]:
sample_submission.head()

   ID  Adoption  Died  Euthanasia  Return_to_owner  Transfer
0   1         1     0           0                0         0
1   2         1     0           0                0         0
2   3         1     0           0                0         0
3   4         1     0           0                0         0
4   5         1     0           0                0         0

In [12]:
gender_submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

## Feature "titles"

In [13]:
train['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [35]:
titles = ['Mr', 'Mrs', 'Miss', 'Jr', 'Dr', 'Master', "Don", "Ms", "Major", "Col", "Capt", "Rev"]
def get_title(name):
    for title in titles:
        if title in name:
            return title
    return "NaN"

In [36]:
train["Title"] = train["Name"].apply(get_title) 
test["Title"] = test["Name"].apply(get_title)

## Feature "Cab_code"

In [37]:
from scipy.stats import mode

In [38]:
letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"

def get_cabin(cab_code):
    
    cabins = []
    if not type(cab_code) is str:
        return "No"
    for char in str(cab_code):
        if char in letters:
            cabins.append(char)
            
    return mode(cabins)[0][0]

In [39]:
train["CabCode"] = train["Cabin"].apply(get_cabin)
test["CabCode"] = test["Cabin"].apply(get_cabin)

C:\Users\Edward\Anaconda3\lib\site-packages\scipy\stats\stats.py:248: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

In [40]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,CabCode
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,No
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mr,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,No
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mr,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,No

## Label Encoder

In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
le_gender = LabelEncoder()
train["Sex"] = le_gender.fit_transform(train["Sex"])
test["Sex"] = le_gender.transform(test["Sex"])

In [43]:
train["Embarked"] = train["Embarked"].fillna('N')
test["Embarked"] = test["Embarked"].fillna('N')

In [44]:
le_emb = LabelEncoder()
train["Embarked"] = le_emb.fit_transform(train["Embarked"])
test["Embarked"] = le_emb.transform(test["Embarked"])

In [45]:
le_title = LabelEncoder()
train["Title"] = le_title.fit_transform(train["Title"])
test["Title"] = le_title.transform(test["Title"])

In [46]:
le_cabcode = LabelEncoder()
train["CabCode"] = le_cabcode.fit_transform(train["CabCode"])
test["CabCode"] = le_cabcode.transform(test["CabCode"])

## Пропуски

In [47]:
test["Fare"] = test["Fare"].fillna(-1)

In [48]:
age_stat = train[["Age", "Title"]].append(test[["Age", "Title"]], ignore_index=True)

In [49]:
age_stat = age_stat.groupby("Title")[['Age']].median()

In [50]:
age_stat = age_stat.to_dict()['Age']

In [51]:
age_stat

{0: 70.0,
 1: 54.5,
 2: 39.5,
 3: 46.5,
 4: 8.0,
 5: 48.5,
 6: 4.0,
 7: 22.0,
 8: 30.0,
 9: 28.0,
 10: 28.5,
 11: 41.5}

In [52]:
train["Age"][train["Age"].isna()] = train["Title"][train["Age"].isna()].apply(lambda x: age_stat[x])
test["Age"][test["Age"].isna()] = test["Title"][test["Age"].isna()].apply(lambda x: age_stat[x])

C:\Users\Edward\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Edward\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Убираем ненужное

In [53]:
X_train = train.drop(columns=["Name", "Ticket", "Cabin", "Survived", "PassengerId"])
Y_train = train["Survived"]
X_test = test.drop(columns=["Name", "Ticket", "Cabin", "PassengerId"])
test_ids = test["PassengerId"]

In [54]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [55]:
X_train.shape

(891, 9)

In [56]:
depths = np.arange(1,10)
features_num = [i+1 for i in range(9)]
parameters = {'max_depth': depths, 'max_features': features_num}
gridsearch = GridSearchCV(DecisionTreeClassifier(), parameters, scoring='neg_log_loss', cv=5)

In [57]:
gridsearch.fit(X_train, Y_train)

C:\Users\Edward\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'max_depth': array([1, 2, 3, 4, 5, 6, 7, 8, 9]), 'max_features': [1, 2, 3, 4, 5, 6, 7, 8, 9]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_log_loss', verbose=0)

In [58]:
gridsearch.best_params_

{'max_depth': 2, 'max_features': 9}

In [59]:
clf_final = DecisionTreeClassifier(max_depth=3, max_features=4)

In [60]:
clf_final.fit(X_train, Y_train)
predictions = clf_final.predict(X_test)

In [61]:
feature_importances = list(zip(X_train.columns, clf_final.feature_importances_))
for feature in feature_importances:
    print(feature[0], feature[1])

Pclass 0.11441067638428756
Sex 0.4744226574032003
Age 0.0
SibSp 0.11654159047358245
Parch 0.0
Fare 0.011290857189807824
Embarked 0.019560403957018736
Title 0.26377381459210325
CabCode 0.0

In [62]:
preds = pd.DataFrame(np.array(list(zip(test_ids, predictions))),
                     columns=['PassengerId', 'Survived'])

In [63]:
preds.to_csv('submission.csv', index=False)

In [66]:
from sklearn.tree import export_graphviz

def get_tree_dot_view(clf, feature_names=None, class_names=None):
    print(export_graphviz(clf, out_file=None, filled=True, feature_names=feature_names, class_names=class_names))

In [65]:
get_tree_dot_view(clf_final, list(X_train.columns), ["Not Survived", "Survived"])

digraph Tree {
node [shape=box, style="filled", color="black"] ;
0 [label="Title <= 7.5\ngini = 0.473\nsamples = 891\nvalue = [549, 342]\nclass = Not Survived", fillcolor="#e5813960"] ;
1 [label="Embarked <= 1.5\ngini = 0.448\nsamples = 233\nvalue = [79, 154]\nclass = Survived", fillcolor="#399de57c"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="Fare <= 40.59\ngini = 0.278\nsamples = 48\nvalue = [8, 40]\nclass = Survived", fillcolor="#399de5cc"] ;
1 -> 2 ;
3 [label="gini = 0.417\nsamples = 27\nvalue = [8, 19]\nclass = Survived", fillcolor="#399de594"] ;
2 -> 3 ;
4 [label="gini = 0.0\nsamples = 21\nvalue = [0, 21]\nclass = Survived", fillcolor="#399de5ff"] ;
2 -> 4 ;
5 [label="SibSp <= 2.5\ngini = 0.473\nsamples = 185\nvalue = [71, 114]\nclass = Survived", fillcolor="#399de560"] ;
1 -> 5 ;
6 [label="gini = 0.388\nsamples = 148\nvalue = [39, 109]\nclass = Survived", fillcolor="#399de5a4"] ;
5 -> 6 ;
7 [label="gini = 0.234\nsamples = 37\nvalue = [32, 5]\nclass = Not Survived", fillcolor="#e58139d7"] ;
5 -> 7 ;
8 [label="Sex <= 0.5\ngini = 0.408\nsamples = 658\nvalue = [470, 188]\nclass = Not Survived", fillcolor="#e5813999"] ;
0 -> 8 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
9 [label="Pclass <= 2.5\ngini = 0.324\nsamples = 133\nvalue = [27, 106]\nclass = Survived", fillcolor="#399de5be"] ;
8 -> 9 ;
10 [label="gini = 0.123\nsamples = 91\nvalue = [6, 85]\nclass = Survived", fillcolor="#399de5ed"] ;
9 -> 10 ;
11 [label="gini = 0.5\nsamples = 42\nvalue = [21, 21]\nclass = Not Survived", fillcolor="#e5813900"] ;
9 -> 11 ;
12 [label="Pclass <= 1.5\ngini = 0.264\nsamples = 525\nvalue = [443, 82]\nclass = Not Survived", fillcolor="#e58139d0"] ;
8 -> 12 ;
13 [label="gini = 0.454\nsamples = 109\nvalue = [71, 38]\nclass = Not Survived", fillcolor="#e5813977"] ;
12 -> 13 ;
14 [label="gini = 0.189\nsamples = 416\nvalue = [372, 44]\nclass = Not Survived", fillcolor="#e58139e1"] ;
12 -> 14 ;
}